node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.DS_Store
.env.local
.env.*.local
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
bootstrap/cache/*
.editorconfig
.env.example
vite.config.js.original
tailwind.config.js.original
postcss.config.js.original
webpack.mix.js
public/storage
Dockerfile.dev
docker-compose.dev.yml
.dockerignore
README.md
.github
tests
.vscode
.idea
*.md
public/hot
dist
build
.turbo
.next
out
